<div id="wrapper">

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Please select your friend name to send gift for her/him.</h3>
	  </div>
	  <div class="panel-body">
	    <!-- <form class="form-horizontal" role="form"> -->
	    
	    <%= form_tag("#{send_to_user_item_path}", method: "post", class: "form-horizontal") do %>
	    
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
		    <div class="col-sm-10">

			<%= select("post", "user_id", User.find(:all, :conditions => ['id not in (?)', [@userID] ]).collect {|u| [ "#{u.last_name.capitalize} #{u.first_name}", u.id ] }, { include_blank: "Select Your Friend's Name" }, {:class => "form-control"}) %>	

		    </div>
		  </div>

		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		    	<%= submit_tag("Submit", class: "btn btn-info") %>
		    </div>
		  </div>
		<% end %>
		<!-- </form> -->

	  </div>
	</div>
	 
</div>