// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background: url(bg-o.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }
.modal-header{
    border: 0 solid;
    color: #FFFFFF;
    margin: 0 auto;
    min-height: 16.4286px;
    padding: 14px;
    width: 60%;
}

.modal-body {
    border: 0px solid #FF0000;
    padding: 0px;
    position: relative;
}

.modal-header .close {
    margin-top: 0;
    color: #FFFFFF;
}
h1{
  color: #563D7C;
}
th{
  text-align: center;
  color: #563D7C;
}

